<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>David Matthews Resume</title>
    <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>
</head>
<body>
  <div id = "page-container" class = "container">
    <div id = "landing-page" class = "container">
      <div id="navbar" class = "inner">
          <a class = "nav_item" href="#home" >Home</a>
          <a class = "nav_item" href="#education">Education</a>
          <a class = "nav_item" href="#workExperience">Work Experience</a>
          <a class = "nav_item" href="#contact">Contact</a>
        </div>
      
        <div id ="home" class = "inner">
          <div id = "title_block">
            <h1 id = "name_top">David Matthews</h1>
            <h3>Data Analyst | Software Engineer | Web Developer</h3>
          </div>
        </div>

    </div>
    <div id = "introduction-page" class = "container">
      <h2>About Me</h2>
    </div>
  </div>

    


  
</body>
</html>